@model IEnumerable<School_Management_System_Application.Models.Course>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Course List</h1>

<p>
    <a asp-action="AddCourse" class="btn btn-success">Add New Course</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit_hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>